<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>Camera Shop</title>
    <style type="text/css">
        .onSale {
            color: orange;
        }
        .onSale:after {
            content: " ON SALE!";
        }
        img {
            width: 120px;
        }
    </style>
</head>
<body>


<!--control-shift-j to join lines-->
<div ng-init = "cameras = [ { title: 'Nikon D3100 DSLR', image: 'http://ecx.images-amazon.com/images/I/713u2gDQqML._SX522_.jpg', rating: 3.4, price: 369.99, onSale: true }, { title: 'Canon EOS 70D', image: 'http://ecx.images-amazon.com/images/I/81U00AkAUWL._SX522_.jpg', rating: 2.0, price: 1099.0, onSale: false }, { title: 'Nikon D810A', image:'http://ecx.images-amazon.com/images/I/91wtXIfLl2L._SX522_.jpg', rating: 4.2, price: 3796.95, onSale: true } ]">

    <select ng-model="sort">
        <option value="rating">Rating</option>
        <option value="price">Price</option>
    </select>

    <ul>
        <li ng-repeat="camera in cameras | orderBy: sort">
            <h3>{{camera.title}}</h3>
            <h5 ng-class="{onSale:camera.onSale}">Price: {{camera.price | currency}}</h5>
            <h5>Rating: {{camera.rating}}</h5>
            <img ng-src="{{camera.image}}" alt="camera image"/>
        </li>
    </ul>

</div>

<script src="node_modules/angular/angular.js"></script>
</body>
</html>
